@import './mixin.scss';

.toolbar {
  background-color: #f2f2f2;
  line-height: 1;
  padding: 10px;
}

.split-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  .split-left {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 500px;
  }
  .split-middle {
    @include main-layout;
  }
  .split-right {
    @include main-layout;
  }
}
