.toolbar {
  background-color: #f2f2f2;
  line-height: 1;
  padding: 10px;
}

.column-box {
  display: flex;
  flex: 1;
  gap: 5px;
  overflow: hidden;
  .column-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }
}
