@import './var.scss';

// collapse
.el-collapse {
  .el-collapse-item__header {
    height: 40px;
    line-height: 40px;
  }
  .el-collapse-item__content {
    padding-bottom: 10px;
  }
}
// divider
.el-divider--horizontal {
  margin: 10px 0 20px 0;
}
// dropdown
.el-dropdown {
  .dropdown {
    outline: none;
  }
}
// radio
.el-radio {
  .el-radio__label {
    min-width: 20px;
  }
}
// select-dropdown
.el-select-dropdown {
  .el-select-dropdown__item {
    padding: 0 15px;
    .dropdown-left {
      float: left;
    }
    .dropdown-right {
      color: var(--el-text-color-secondary);
      padding-left: 10px;
      font-size: 13px;
      float: right;
    }
  }
}
// menu
.el-menu {
  .el-sub-menu__title {
    height: 40px;
    line-height: 40px;
  }
  .el-menu-item {
    font-size: 12px;
    height: 40px !important;
    line-height: 40px !important;
  }
  .el-menu-item-group__title {
    padding: 0;
  }
}
// tabs
.el-tabs {
  --el-tabs-header-height: 28px !important;
  .el-tabs__header {
    height: 28px;
    margin-bottom: 5px !important;
    .el-tabs__item {
      height: 28px;
      padding: 0 10px !important;
    }
    .el-tabs__new-tab {
      margin: 0;
    }
  }
}
// table
.el-table {
  .el-table__inner-wrapper {
    height: 100% !important;
  }
  .el-table__header-wrapper {
    background-color: $color-gray;
    height: 38px;
    tr,
    th.el-table__cell {
      background-color: $color-gray !important;
    }
    th.el-table__cell {
      padding: 7px 0;
    }
  }
  .el-scrollbar__view {
    height: 100%;
  }
}
