// 位置
@mixin gravity-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin across-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
// 主体布局
@mixin main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
