// 颜色
$color-base: #00acac;
$color-black: #333744;
$color-black1: #42485b;
$color-black2: #606266;
$color-gray: #f2f2f2;
$color-gray1: #fffc;
$color-gray2: #999;
$color-gray3: #eee;
$color-gray4: #5d5a58;
$color-gray5: #e4e7ed;
$color-gray6: #dcdfe6;
$color-gray7: #f5f7fa;
$color-gray8: #a8abb2;
$color-gray9: #c2c8d5;
$color-gray10: #ebeced;
$color-gray11: #fafafb;
$color-gray12: #c4c4c4;
$color-orange: #ff6700;
$color-pink: #ff99cc;
$color-purple: #e100ff;
$color-purple1: #c280ff;
$color-red: #ff0000;
$color-red1: #f56c6c;
$color-white: #ffffff;
$color-yellow: #ffba00;
$color-yellow1: #f59a23;
$color-yellow2: #ffcc33;
$color-green: #95f204;
$color-green1: #67cc67;
$color-bule: #5fa7e8;
$tips-background-color: #ffefe6;
$tips-border: #ec808d;
